header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.03);
}
header {
  position: fixed;
  background: #fff;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
