.partners {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 4rem 3rem 4rem;
  max-width: 900px;
  margin: 0 auto;
  ul {
    display: flex;
    width: 100%;
    margin-bottom: 48px;
    flex-direction: column;

    li {
      margin-bottom: 24px;

      h3 {
        margin-bottom: 12px;
      }
    }
  }
}
